{% extends "templates-base/user-base.html" %}

{% block body %}
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6 text-center">
        <h2 class="mb-4">Cambiar Contraseña</h2>
        <img src="https://creazilla-store.fra1.digitaloceanspaces.com/emojis/45128/locked-with-key-emoji-clipart-xl.png" alt="Icono de contraseña" class="img-fluid mb-4">
      </div>
      <div class="col-md-6">
        <form method="post" action="{% url 'usuario:cambiar_password' %}" class="needs-validation" novalidate>
          {% csrf_token %}
          {{ form.as_p }}
          <button type="submit" class="btn btn-primary mt-3">Guardar Cambios</button>
        </form>
      </div>
    </div>
  </div>
{% endblock body %}
