{% extends "templates-base/user-base.html" %}
{% load static %}
{% block style %}
    <!-- SimpleLightbox plugin CSS-->
    <link type="text/css" rel="stylesheet" href="\static\css\soli.css" />
{% endblock style %}
{% block body %}
<div class="container my-4">
    <h1 class="text-center">Historial</h1>
    <div class="d-flex flex-column align-items-start">
        <div>
            <a class="btn btn-primary" href = "{% url 'core:frontendmain' %}">Regresar</a>
        </div>
        {% if prestamos %}
        <table class="table mt-3 mx-auto">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Fecha de préstamo</th>
                    <th scope="col">Fecha de devolución</th>
                    <th scope="col">Fecha devuelto</th>
                    <th scope="col">Estado</th>
                    <th scope="col">Reportar solicitud</th>
                    <th scope="col">Acción</th>
                </tr>
            </thead>
            <tbody>
            {% for prestamo in prestamos %}
       
                <tr>
                    <td>{{prestamo.fecha_iniprestamo}}</td>
                    <td>{{prestamo.fecha_finprestamo}}</td>
                    <td>{{prestamo.fecha_devolucion}}</td>
                    <td>{{prestamo.prestado_estado}}</td>
                    <td><button class="btn btn-primary">Reportar</button></td>
                    {%if prestamo.prestado_estado.prestado == 'En espera'%}
                    <td><button class="btn btn-primary">Cancelar</button></td>
                    {%else%}
                    <td>---</td>
                    {%endif%}
                </tr>
            {%endfor%}
            </tbody>
        </table>
        {%else%}
        <div class="container center-content">
            <img src="/static/image/libro_error.png" alt="Error Image">
            <label class="error-text">Opps!</label>
            <label>Empieza a pedir libros en nuestro servicios!</label>
        </div>
    </div>
</div>  
{%endif%}
{% endblock body%}