{% extends "templates-base/core-base.html" %}
{% load static %}
{% block titletext %}Bibliotinka - Homepage{% endblock titletext %}
{% block customcss %}<link href="\static\css\frontend_page.css" rel="stylesheet" />{% endblock customcss %}
{% block customjs %}
<script src="{% static 'js/tienda_frontendanimacion.js' %}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
{% endblock customjs %}

{% block bodycontent %}
<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="#!">Bibliotinka</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="#!">Home</a></li>
                <li class="nav-item"><a style="width: 5px;" ></a></li>
                    <li class="nav-item">
                        <form class="form-inline d-flex">
                            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" style="width: 300px;">
                            <div style="width: 5px;"> </div>
                            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                        </form>
                    </li>
            </ul>
            <form class="d-flex">
                <button class="btn btn-outline-dark" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
                    <i class="bi-cart-fill me-1"></i><span class="badge bg-dark text-white ms-1 rounded-pill">0</span>
                </button>
            </form>
        </div>
    </div>
</nav>
{% comment %} Off Canvas {% endcomment %}
<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasExampleLabel">Tus pedidos</h5>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        {% comment %} Puede haber una plantilla que recien aparezca cuando se agrege un libro {% endcomment %}
    </div>
  </div>
<!-- Header-->
<header class="bg-light py-5 ">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-dark">
            <h1 class="display-4 fw-bolder">Bibliotinka</h1>
            <p class="lead fw-normal text-dark mb-0">Ofreciendo los mejores libros de nuestro repositorio</p>
        </div>
    </div>
</header>
<!-- Section-->
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            {% comment %} inicio de carta {% endcomment %}
            {% for ejemplar in ejemplares %}
            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Product image-->
                    <img class="card-img-top" src="{{ ejemplar.libro.image }}" alt="{{ ejemplar.libro.title }}" />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">{{ ejemplar.libro.title }}</h5>
                            <!-- Product price-->
                            {{ ejemplar.libro.author }}
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center">
                            <a class="btn btn-outline-dark mb-1 mt-auto" href="{% url "core:bookdetailmain" %}">Detalle</a>
                            {% if ejemplar.numero_ejemplar == 0 %}
                                <div class="text-center"><a class="btn btn-outline-danger mt-auto disabled" href="#">Sin stock</a></div>
                            {% elif ejemplar.libro.isbn in carrito %}
                                <a class="btn btn-outline-dark mb-1 mt-auto disabled" href="#">Libro en bandeja</a>
                            {% else %}
                                <a class="btn btn-outline-dark mb-1 mt-auto add-to-cart" data-isbn-libro="{{ ejemplar.libro.isbn }}">Añadir al carro</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% comment %} fin de carta {% endcomment %}
        </div>
    </div>
</section>
<!-- Footer-->
<footer class="py-auto m-0 bg-dark">
    <div class="container"><p class="m-0 text-left text-white">Copyright &copy; Bibliotinka 2023</p></div>
</footer>
{% endblock bodycontent %}
