<!DOCTYPE html>
<html lang="es">
<title>Recuperar contraseña</title>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<head>
    <link rel="stylesheet" src = "./css/login.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">    
</head>
<body>
    <div class = "FrameLogin">
        <div class = "BackImage">
            <a href="index.html" > <img id="Backproperties" src="./css/Assets/Arrow - Left Circle.png"></a>
        </div>
        <div class = "FrameIniciaSesion">        
            <form>
                <div id="IniciaSesion_header">Ingresa a tu cuenta</div>
                <div class = "FrameDatos">
                    <div class = "FrameEscribaCorreo">
                        <img id="MensajeIconoLogin" src="./css/Assets/Message.png">
                        <input type="text" id="EscribaCorreoTexto" placeholder="Escribe su correo electrónico">
                    </div>
                    <div class = "FrameEscribaContra">
                        <img id="Lockproperties" src="./css/Assets/Lock (1).png">
                        <input type="password" id="EscribeContraTexto" placeholder="Escribe su contraseña">
                        <img id="Ojo" src = "./css/Assets/eye-slash.png">
                    </div>
                    <div class="FrameOpciones">
                        <div class = "FrameRecuerdame">
                            <input type="checkbox" id="OurCheckbox">
                            <div id="RecuerdameTexto">Recuérdame</div>
                        </div>
                        <div id = "OlvidasteContra">¿Olvidaste tu contraseña?</div>
                    </div>
                    <button type ="submit" class="BotonLogin"><p id="TextoBotonLogin">Iniciar Sesión</p></button>
                </div>
                <div class = "FrameOlvidasteContra">
                    <spam id="NoCuenta">¿No tiene una cuenta? <spam id="RegistrarTexto">Regístrate</spam></spam>
                </div>
            </form>   
        </div>
        <div class = "FrameFooter">
            <div id ="Copyright">© Soy Ignacio</div>
            <div class = "FrameFooterCorreo">
                <img id="Messageblanco" src="./css/Assets/MessageMessage1.png">
                <div id="MessageCorreo">info@soyignacio.pe</div>
            </div>
        </div>
    </div>
    <div class = "FrameFondo">
       <div class="Frame_contenedor">
            <div class = "FrameTextoImagenGrande">
                <div id = "UneteComunidad">Bienvenido a <br/>Soy Ignacio</div>
            </div>
        
            <div>
                <div class = "FrameTextoImagenSmall">
                    <div id = "A_un_paso">Esta a un paso de ser parte de nuestra comunidad, inicia </br>sesión para obtener acceso completo a la funcionalidad de</br> nuestra plataforma</div>
                </div>
            </div>

            <div class = "FrameFotos">
                <img id = "ImagenFotos" src = "./css/Assets/Others.png">
                <div id="ImagenTextoNormal"><span15>15k+ alumnos se han unido,</span15> <spam id = "ImagenTextoNegro">¡únete!</spam></div>
            </div>
       </div>        
    </div>   
</body>
</html> 